.icon-48-items {
      background-image: url(../images/l_items.png);
      padding-left:60px!important;
}

.icon-48-item {
      background-image: url(../images/l_items.png);
      padding-left:60px!important;
}

.icon-48-fields {
      background-image: url(../images/l_fields.png);
      padding-left:60px!important;
}

.icon-48-field {
      background-image: url(../images/l_fields.png);
      padding-left:60px!important;
}

.icon-48-groups {
      background-image: url(../images/l_groups.png);
      padding-left:60px!important;
}

.icon-48-group {
      background-image: url(../images/l_groups.png);
      padding-left:60px!important;
}

.icon-48-fielddatas {
      background-image: url(../images/l_fielddatas.png);
      padding-left:60px!important;
}

.icon-48-fielddata {
      background-image: url(../images/l_fielddatas.png);
      padding-left:60px!important;
}

